/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@keyframes header_arrow_offset {
    0% {
        transform: translateX(-150%);
    }

    100% {
        transform: translateX(-150%) translateX(4px);
    }
}

@keyframes scaleHeart {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes sparkAnimation {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

.theme-menu__button:hover,
.theme-menu__button:disabled {
    transition: opacity 0.3s ease;
}

.theme-menu__button::after {
    transition: width 0.3s ease;
}


.card__like-button:focus-visible {
    transition: box-shadow 0.3s ease;
}

.card__like-button:hover::before {
    transition: transform 0.5s ease-in-out;
}

.card__like-button::before {
    transition: background-color 0.5s ease-in-out;
}

.like-icon__main-core {
    transition: fill 0.3s linear;
}

.like-icon__main-body {
    transition: fill 0.3s 0.05s linear;
}

.like-icon__main-counter {
    transition: fill 0.3s 0.06 linear;
}

.dialog-row-button:hover::before {
    transition: transform 0.5s ease-in-out;
}

.dialog-row-button::before {
    transition: background-color 0.5s ease-in-out;
}

.dialog-row-button:focus-visible {
    transition: box-shadow 0.3s ease;
}

.save-button:focus-visible {
    transition: box-shadow 0.3s ease;
}

.save-button:hover::before {
    transition: transform 0.5s ease-in-out;
}

.save-button::before {
    transition: background-color 0.5s ease-in-out;
}

.like-icon:hover .like-icon__main-core {
    fill: var(--heart-contour-color);
}

.like-icon:hover .like-icon__main-body {
    fill: var(--heart-contour-color);
}

.like-icon:active .like-icon__main-core {
    fill: var(--heart-main-body-color);
}

.like-icon:active .like-icon__main-body {
    fill: var(--heart-main-body-color);
}

.like-icon.is-liked .like-icon__main-core {
    fill: var(--heart-main-body-color);
}

.like-icon.is-liked .like-icon__main-body {
    fill: var(--heart-main-body-color);
}

.like-icon.is-liked .like-icon__main-counter {
    fill: var(--heart-main-body-color);
}

.like-icon.is-liked .like-icon__sparks {
    animation: sparkAnimation 0.3s ease-in 0.3s 1;
}

.like-icon.is-liked .like-icon__heart {
    animation: scaleHeart 0.3s ease-in 0.1s 1;
}

.like-icon__sparks {
    fill: var(--heart-sparks-color);
    opacity: 0;
}