/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--main-text-color);
  padding-top: 100px;
}

.header {
  font-family: var(--main-font-family);
  background: var(--main-background-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  max-width: 696px;
  max-height: 368px;
  height: 100%;
  border: 2px solid var(--main-border-color);
  padding: 135px 0 20px 10px;
  margin-block-end: 100px;
}

.header-title {
  font-size: 65px;
  margin-block-end: 20px;
  text-transform: uppercase;
  font-family: var(--main-font-family);
  transform: translateX(-4px);
}

.header-description {
  font-size: 23px;
  margin-block-end: 25px;
  text-transform: uppercase;
  font-family: var(--main-font-family);
  transform: translateX(-4px);
}

.header__theme-menu {
  font-size: 14px;
}

.theme-menu__button {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-family: var(--main-font-family);
  transform: translateX(3px);
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.theme-menu__button:hover,
.theme-menu__button:disabled {
  opacity: 0.6;
  color: var(--main-text-color);
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  transform-origin: left;
  width: 0%;
  height: 2px;
  background-color: var(--main-text-color);
  transform: scaleX(0);
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
  width: 100%;
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:disabled {
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  position: absolute;
  content: "▶";
  font-size: 14px;
  transform: translateX(-150%);
  animation: header_arrow_offset 0.5s infinite alternate ease-in-out;
}

.main {
  width: 100%;
}

.card-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 52px;
  margin-block-end: 50px;
}

.card-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--main-background-color);
  border: 2px solid var(--main-border-color);
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  font-family: var(--sub-font-family);
  max-width: 696px;
  width: 100%;
}

.card-list__item-title {
  font-weight: 785;
  line-height: 21.78px;
  padding: 5px 10px 5px 10px;
  font-size: 18px;
  align-self: flex-start;
  transform: translateX(-4px);
}

.card-list__item-description {
  font-weight: 465;
  line-height: 21px;
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 0px 20px 0px 25px;
  font-size: 18px;
  font-family: var(--sub-font-family);
  width: 100%;
  height: 100%;
  margin-block-end: 25px;
}

.card-list__item-container-image {
  position: relative;
  width: 100%;
  border-top: 2px solid var(--main-border-color);
  border-bottom: 2px solid var(--main-border-color);
  margin-block-end: 27px;
  overflow: hidden;
  display: flex;
}

.card-list__item-container-label {
  position: absolute;
  top: 27px;
  right: 25px;
  font-size: 14px;
  font-family: var(--main-font-family);
  font-weight: 400;
  text-shadow: 1px var(--main-background-color);
  mix-blend-mode: hard-light;
  z-index: 2;
  opacity: 50%;
}

@supports (-webkit-text-stroke: 1px var(--main-background-color)) or (text-stroke: 1px var(--main-background-color)) {
  .card-list__item-container-label {
    -webkit-text-stroke: 1px var(--main-background-color);
    text-shadow: none;
  }
}

.card-list__item-image {
  width: 100%;
  object-fit: cover;
}

.card-list__item:nth-child(1)>.card-list__item-container-image {
  text-transform: uppercase;
}

.card-list__item:nth-child(2)>.card-list__item-container-image {
  text-transform: uppercase;
}

.card-list__item:nth-child(3)>.card-list__item-container-image {
  text-transform: uppercase;
}

.card-list__item:nth-child(2)>.card-list__item-container-image>.card-list__item-image {
  filter: grayscale(90%) saturate(200%) brightness(150%);
}

.card-list__item:nth-child(3)>.card-list__item-container-image>.card-list__item-image {
  filter: saturate(300%);
}

.card-list__item:nth-child(4)>.card-list__item-container-image>.card-list__item-image {
  filter: hue-rotate(30deg);
}

.card-list__item:nth-child(5)>.card-list__item-container-image>.card-list__item-image {
  filter: invert(100%) contrast(60%);
}

.card-list__item:nth-child(6)>.card-list__item-container-image>.card-list__item-image {
  filter: sepia(90%);
}

.card-list__item:nth-child(7)>.card-list__item-container-image>.card-list__item-image {
  filter: blur(30px);
  border: none;
  background-color: white;
}

.card-list__item:nth-child(8)>.card-list__item-container-image>.card-list__item-image {
  filter: saturate(200%) hue-rotate(120deg) blur(2px) contrast(40%);
  background-color: white;
}

.card__like-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: 2px solid var(--main-border-color);
  padding: 9px 17px 9px 17px;
  width: 130px;
  height: 38px;
  overflow: hidden;
  align-self: end;
  cursor: pointer;
  font-family: var(--main-font-family);
  font-size: 14px;
}

.card__like-button:focus {
  outline: none;
  box-shadow: 2px 2px 0 0 #000;
}

.card__like-button:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: var(--main-background-color);
  transform: translateX(100%);
  mix-blend-mode: difference;
  color: var(--main-background-color);
}

.card__like-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: var(--main-border-color);
  mix-blend-mode: difference;
  color: var(--main-background-color)
}

.card-list__item-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-block-end: 25px;
  padding-right: 23px;
}

.like-icon__main-core {
  fill: #0000;
}

.like-icon__main-body {
  fill: #0000;
}

.like-icon__main-counter {
  fill: var(--heart-contour-color);
}

.like-icon {
  width: 100%;
  height: 100%;
}

.card__icon-button {
  border: none;
  background: none;
  max-width: 38px;
  width: 100%;
  height: 100%;
  max-height: 38px;
  margin-inline-end: 6px;
  cursor: pointer;
  display: flex;
  justify-content: end;
  transform: translateY(4px);
  padding: 0;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--main-border-color);
}

.like-icon__heart {
  transform-origin: 50%;
}

#dialog {
  display: none;
  padding: 0px 17px;
  position: fixed;
  inset: 0;
  border: none;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

#dialog[open] {
  display: flex;
  justify-content: center;
  align-items: center;
}

#dialog[open]::backdrop {
  background: var(--color-backdrop);
}

.dialog-body {
  position: fixed;
  max-width: 353px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: var(--main-background-color);
  padding: 30px;
  color: var(--main-text-color);
  border: 2px solid var(--main-border-color);
}

.dialog-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog-row-text {
  font-family: var(--main-font-family);
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 21px;
}

.dialog-row-image {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 39px;
  min-height: 39px;
  margin-inline-end: 20px;
}

.dialog-row-button {
  position: relative;
  background: var(--main-background-color);
  border: 2px solid var(--main-border-color);
  min-width: 293px;
  width: 100%;
  padding: 9px 17px 9px 17px;
  cursor: pointer;
  text-transform: uppercase;
  font-family: var(--main-font-family);
  overflow: hidden;
}

.dialog-row-button:hover {
  cursor: pointer;
}

.dialog-row-button:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: var(--main-background-color);
  transform: translateX(100%);
  mix-blend-mode: difference;
  color: var(--main-background-color);
}

.dialog-row-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: var(--main-border-color);
  mix-blend-mode: difference;
  color: var(--main-background-color)
}

.dialog-row-button:focus {
  outline: none;
  box-shadow: 2px 2px 0 0 #000;
}

.save-button>svg {
  width: 21px;
  height: 21px;
}

.save-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--main-background-color);
  border: 2px solid var(--main-border-color);
  padding: 15px 12px 15px 12px;
  max-width: 335px;
  width: 100%;
  height: 100%;
  max-height: 55px;
  overflow: hidden;
  margin-block-end: 103px;
  font-size: 14px;
  font-family: var(--main-font-family);
  font-weight: 400;
  line-height: 12.6px;
  cursor: pointer;
  gap: 8px;
}

.save-button:focus {
  outline: none;
  box-shadow: 2px 2px 0 0 #000;
}

.save-button:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: var(--main-background-color);
  transform: translateX(100%);
  mix-blend-mode: difference;
  color: var(--main-background-color);
}

.save-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: var(--main-border-color);
  mix-blend-mode: difference;
  color: var(--main-background-color)
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (width <=375px) {
  .header {
    padding-top: 120px;
    width: 100%;
  }

  .header-title {
    font-size: 49px;
  }

  .header-description {
    font-size: 14px;
  }

  .main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .save-button {
    flex-direction: column;
    max-width: 306px;
    width: 100%;
    max-height: 80px;
    height: 100%;
    padding-bottom: 12.5px;
  }

  .save-button-img {
    width: 28px;
    height: 28px;
    margin-block-end: 8px;
  }

  .card-list__item-container-label {
    top: 25px;
    right: 11px;
  }

  .save-button>svg {
    min-width: 28px;
    min-height: 28px;
  }
}